body {
    background-color: black;
    margin-top: -10px;
    margin-left: 30px;
    margin-right: 30px;
}

h1, h2 {
    color: white;
}

p, ol > li {
    color: rgb(179, 214, 255);
}

ol > li {
    font-size: 28px;
    font-weight: bold;
    padding: 4px;
}

#selfimage {
    width: 100%
}